In [5]:
# print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [12]:
# print range 10 to 20
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [1]:
# Print number of items in the list by using 'len'
List2 = [10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:", len(List2))

Number of item in the List2: 7

In [4]:
text = "Artificial Intelligence"

In [5]:
for i in text:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [8]:
name = "Rahul"
age = "25"
profession = "Data Scientist"

print(f"{name}")
print(f"{age}")
print(f"{profession}")

Rahul
25
Data Scientist

In [1]:
# Print yhis mixered datatype using Tuples
mixed_tuple = (1, 'Welcome', 2, 'Hope')
print(mixed_tuple)

(1, 'Welcome', 2, 'Hope')

In [2]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
result = (Tuple1, Tuple2)
print(result)

((0, 1, 2, 3), ('python', 'HOPE'))

In [19]:
# print Odd Numbers in the list
oddlist=[20,10,16,19,25,1,276,188]
for list1 in oddlist:
    if list1%2!=0:
        print(list1," is odd")

19  is odd
25  is odd
1  is odd

In [18]:
a = (20,10,16,19,25,1,276,188)
for i in a:
    if i % 2 == 0:
        print(i," is even")

20  is even
10  is even
16  is even
276  is even
188  is even